<div class="mt-9 sm:px-8">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div class="max-w-2xl">
          <%= render partial: "static_pages/index_sections/hero" %>

          <div class="mt-10 flex gap-6">
            <%= render partial: "static_pages/index_sections/social_media" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-16 sm:mt-20">
  <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
    <%= render partial: "static_pages/index_sections/posters" %>
  </div>
</div>

<div class="mt-24 sm:px-8 md:mt-28">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
          <div class="flex flex-col gap-16">
            <%= render partial: "static_pages/index_sections/job_offer" %>
          </div>

          <div class="space-y-10 lg:pl-16 xl:pl-24">
            <div class="rounded-2xl border border-zinc-200 p-6 dark:border-zinc-700/40">
              <%= render partial: "static_pages/index_sections/experience" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>