<div class="sm:px-8 mt-4 sm:mt-8">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <header class="max-w-2xl">
          <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
            <%= t(:label_header_project) %>
          </h1>
          <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
            <%= t(:label_body_project) %>
          </p></header>
        <div class="mt-16 sm:mt-20">
          <ul role="list" class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3">
            <li class="group relative flex flex-col items-start">
              <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                <%= image_tag "logo/logo.svg", class: 'h-8 w-8 flex-none' %>
              </div>
              <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                <a href="#"><span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                  <span class="relative z-10">Pifia</span></a>
              </h2>
              <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                <%= t(:label_description_pifia) %>
              </p>
            </li>
            <li class="group relative flex flex-col items-start">
              <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                <%= image_tag "logo/redmine.png", class: 'h-8 w-8 flex-none' %>
              </div>
              <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                <a href="#"><span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                  <span class="relative z-10">Redmine</span></a>
              </h2>
              <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                <%= t(:label_description_redmine) %>
              </p>
            </li>
            <li class="group relative flex flex-col items-start">
              <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                <%= image_tag "logo/kaspi.webp", class: 'h-8 w-8 flex-none' %>
              </div>
              <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                <a href="#"><span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                  <span class="relative z-10">Kaspi Parser</span></a>
              </h2>
              <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                <%= t(:label_description_kaspi) %>
              </p>
            </li>
            <li class="group relative flex flex-col items-start">
              <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                <%= image_tag "logo/webmoney.png", class: 'h-8 w-8 flex-none' %>
              </div>
              <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                <a href="#"><span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                  <span class="relative z-10">Webmoney Parser</span></a>
              </h2>
              <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                <%= t(:label_description_webmoney) %>
              </p>
            </li>
            <li class="group relative flex flex-col items-start">
              <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                <%= image_tag "logo/lib.png", class: 'h-8 w-8 flex-none' %>
              </div>
              <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                <a href="#"><span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                  <span class="relative z-10">Lib Directory</span></a>
              </h2>
              <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                <%= t(:label_description_lib) %>
              </p>
            </li>
            <li class="group relative flex flex-col items-start">
              <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                <%= image_tag "logo/ratehawk.png", class: 'h-8 w-8 flex-none' %>
              </div>
              <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></div>
                <a href="#"><span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                  <span class="relative z-10">Odyssey</span></a>
              </h2>
              <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                <%= t(:label_description_odyssey) %>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>