<div class="relative w-44 flex-none rotate-2 overflow-hidden rounded-xl bg-zinc-100 aspect-[9/10] dark:bg-zinc-800 sm:w-72 sm:rounded-2xl">
  <%= image_tag "scroodge.png", class: "absolute inset-0 h-full w-full object-cover" %>
</div>
<div class="relative w-44 flex-none -rotate-2 overflow-hidden rounded-xl bg-zinc-100 aspect-[9/10] dark:bg-zinc-800 sm:w-72 sm:rounded-2xl">
  <%= image_tag "rm.png", class: "absolute inset-0 h-full w-full object-cover" %>
</div>
<div class="relative w-44 flex-none rotate-2 overflow-hidden rounded-xl bg-zinc-100 aspect-[9/10] dark:bg-zinc-800 sm:w-72 sm:rounded-2xl">
  <%= image_tag "relic.png", class: "absolute inset-0 h-full w-full object-cover" %>
</div>
<div class="relative w-44 flex-none rotate-2 overflow-hidden rounded-xl bg-zinc-100 aspect-[9/10] dark:bg-zinc-800 sm:w-72 sm:rounded-2xl">
  <%= image_tag "profiler.png", class: "absolute inset-0 h-full w-full object-cover" %>
</div>
<div class="relative w-44 flex-none -rotate-2 overflow-hidden rounded-xl aspect-[9/10] dark:bg-zinc-800 sm:w-72 sm:rounded-2xl">
  <%= image_tag "widget.png", class: "w-full h-full object-contain" %>
</div>